<section id="top-bar" class="p-3">
  <div class="container">
    <div class="row">
      <div class="col-md-4"><i class="fa fa-phone"></i> (971)-558-085053</div>
      <div class="col-md-4">
        <i class="fa fa-envelope"></i> roger.ntumwa@gmail.com
      </div>
      <div class="col-md-4">
        <div class="social text-right">
          <a href="#">
            <i class="fa fa-facebook-square"></i>
          </a>
          <a href="#">
            <i class="fa fa-linkedin"></i>
          </a>
          <a href="#">
            <i class="fa fa-github-square"></i>
          </a>
          <a href="#">
            <i class="fa fa-twitter"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
