{%extends 'base.html' %} {% load crispy_forms_tags %} {%block content%}
<div class="container">
  <div class="row profile" style="margin-top: 80px;">
    <div class="content-section">
      <div class="media">
        <img
          src="{{user.profile.image.url}}"
          alt="pic"
          class="rounded-circle account-img"
        />
        <div class="media-body">
          <h2 class="account-heading">{{user.username}}</h2>
          <p class="text-secodary">{{user.email}}</p>
        </div>
      </div>
      <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
            <legend class="border-bottom mb-4 ">UPDATE USER PRODILE</legend>
            {{ u_form|crispy }} {{ p_form|crispy }}
            <div class="form-group">
              <input type="submit" value="Save" class="btn btn-outline-info" />
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>

{%endblock%}
