{%extends 'base.html' %}
{%load static %}
<!-- body block -->
{%block content%}
    <header class="header">
      <div class="header__background">
          <video class="bg-video__content" autoplay muted loop>
            <source src="{% static 'clip/funtech.mp4' %}" type="video/mp4" />
            your browser is not supported
          </video>
      </div>
      <div class="header__body">
        <h2 class="header__body-text">Welcome to Denjo Hearts</h2>
        <a href="#movie-body"><button class="header__body-btn">Explore</button></a>
      </div>
    </header>
  
    <div id="movie-body">
      <div class="raw" style="margin-top: 10px;">
        <div class="col-md-6">
          <form method="GET" action="" >
            <div class="input-group">
              <input type="text" class="textbox" placeholder="Search movie" name="search"
                value="{{reguest.GET.search}}" />
              <div class="input-group-append">
                <button class="btn btn-secondary" type="submit">
                  Search
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <section class="movies">
      {% if allmovies%}
      {% for item in allmovies %}
      <div class="movie">
        <a class="movie__card-img" href="{% url 'movie_details' item.slug%}"><img src="{{ item.logo.url }}" alt=""
            style="width: 100%;" /></a>
        <h4 class="movie__card-title">{{ item.title }}</h4>
        <h3 class="movie__card-year">{{ item.year_published}}</h3>
      </div>
      {%endfor%}

      {%else%}
        <div class="col-md-12">
          <p>No movies Available</p>
        </div>
      {%endif%}
    </section>
    <div class="row">
      <div class="col-md-12">
        {%if allmovies.has_other_pages %}
        <ul class="pagination">
          {%if allmovies.has_previous%}
          <li class="page-item">
            <a class="page-link" href="?page={{allmovies.previous_page_number}}">&laquo;</a>
          </li>
          {%else%}
          <li class="page-item disabled">
            <a class="page-link" href="#">&laquo;</a>
          </li>
          {%endif%} {% for i in allmovies.paginator.page_range%}
          <!-- if statement -->
          {% if allmovies.number == i%}
          <li class="page-item active">
            <a class="page-link">{{i}}</a>
          </li>
          {%else%}
          <li class="page-item">
            <a href="?page={{i}}" class="page-link">{{i}}</a>
          </li>
          {%endif%} {%endfor%} {%if allmovies.has_next%}
          <li class="page-item">
            <a class="page-link" href="?page={{allmovies.next_page_number}}">&raquo;</a>
          </li>
          {%else%}
          <li class="page-item disabled">
            <a class="page-link" href="#">&raquo;</a>
          </li>
          {%endif%}
        </ul>
        {%endif%}
      </div>
    </div>
  
  <div class="row" style="margin-top: 30px;">
    {% if messages%} {%for message in messages%}
    <div class="alert alert-{{message.tags}}">
      {{message}}
    </div>
    {%endfor%} {%endif%}
  </div>
  </div>
{%endblock%}
